.card-name {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.ios {
  p {
   line-height: 200px;

   @media (max-width: 768px) {
     line-height: 100px;
   }
  }
}

.donate-card:active {
  opacity: 1;
  
  .card-name {
    border-color: #7B5900;
    transition: all 0.5s ease-in;
    background-color: #FFB800;
    h5 {
      color: white;
    }
  }

  .card-bottom {
    background-color: #7B5900;
    transition: all 0.5s ease-in;
    box-shadow: 14px 11px 5px 0px rgba(114, 113, 113, 0.5);
  }

  .card-text {
    border-color: #7B5900;
    transition: all 0.5s ease-in;
    box-shadow: 14px 11px 5px 0px rgba(114, 113, 113, 0.5);
    background-color: #FFB800;
    p {
      color: white;
    }
  }
}